<div class="row">
  <div class="span6 offset3 main-content">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= link_to "Cancel", root_url, class: 'button secondary radius' %>
      <%= f.submit "Send me reset password instructions", class: 'button radius success' %>
    <% end %>
  </div><!-- span6 offset3 -->
</div><!-- /row -->