<div>
  <h3>It's free. Sign up faster than you can tie your sneakers.</h3><br /><%= link_to "Sign up now", new_registration_path(resource_name), :class => 'btn btn-large btn-warning' %>
</div>





<h3>I've got an account.</h3>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
 
    <% if current_user %>Foo<% else %>Bar<% end %>

    <div>
      <%= f.label :email, 'Email:' %>
      <%= f.email_field :email %>
    </div>

    <div>
      <%= f.label :password, 'Password:' %>
      <%= f.password_field :password %>
    </div>

    <div><%= f.submit "Sign in" %></div>

    <% if devise_mapping.rememberable? -%>
      <div class="control-group">
        <label class="controls">
          <%= f.check_box :remember_me %> Stay signed in
        </label>
      </div><!-- /control-group -->
    <% end -%>
    <div class="control-group">
      <label class="controls">
        <%= link_to "Forgot your password?", new_password_path(resource_name), :class => 'home-page-link' %>
      </label>
    </div><!-- /control-group -->
<% end %><%# /form %>
<div class='visible-phone sign-up-box'><h3>Need an account?</h3><%= link_to "Fast sign up", new_registration_path(resource_name), :class => 'btn btn-large btn-warning', :id => 'sign-up-btn' %></div>
</div><!-- /span6 signin-box -->
<div class="span6 site-info">
<ul>
  <li>JoggerLogger works on smart phones, tablets, PCs... really, anything with a web browser.</li>
  <li>No installation required. Just sign-up and get running!</li>
</ul>

