<div>
  <h3>It's free. Sign up faster than you can tie your sneakers.</h3>

  <%= link_to "Sign up now", new_registration_path(resource_name), :class => 'radius button' %>
</div>

<h3>Have got an account? Sign in below.</h3>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    <div>
      <%= f.label :email, 'Email:' %>
      <%= f.email_field :email %>
    </div>

    <div>
      <%= f.label :password, 'Password:' %>
      <%= f.password_field :password %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="control-group">
        <label class="controls">
          <%= f.check_box :remember_me %> Stay signed in
        </label>
      </div><!-- /control-group -->
    <% end -%>

    <div><%= f.submit "Sign in", class: 'button radius success' %></div>
    <div class="control-group">
      <label class="controls">
        <%= link_to "Forgot your password?", new_password_path(resource_name), :class => 'home-page-link' %>
      </label>
    </div><!-- /control-group -->
<% end %><%# /form %>