<%= form_for(@jog) do |f| %>
  <% if @jog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jog.errors.count, "error") %> prohibited this jog from being saved:</h2>

      <ul>
      <% @jog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :jogged_at, "Date:" %>
    <%= f.text_field :jogged_at, :value => Date.today.strftime("%-m/%-d/%Y") %>
    click/tap to change
  </div>
  <div class="field">
    <%= f.label :miles, "Distance:" %>
    <%= f.text_field :miles %>
    <%= current_user.distance_unit %>
  </div>
  <div class="field">
    <%= f.label :seconds, "Time:" %>
    <%= f.text_field :seconds %>
    hh:mm:ss
  </div>
  <div class="field">
    <%= f.label :notes, "Notes:" %><br />
    <%= f.text_area :notes, :rows => "5", :cols => "60" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
