<%= form_for(@jog) do |f| %>
  <% if @jog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jog.errors.count, "error") %> prohibited this jog from being saved:</h2>

      <ul>
      <% @jog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <% if current_user.current_goal %>
    <%= f.hidden_field :goal_id, :value => current_user.current_goal.id %>
  <% end %>
  <div class="field">
    <%= f.label :jogged_at, "Date:" %>
    <%= f.text_field :jogged_at_string, :value => Date.today.strftime("%-m/%-d/%Y"), :class => 'input-small' %>
  </div>
  <div class="field">
    <%= f.label :miles, "Distance:" %>
    <%= f.text_field :miles, :class => 'input-small' %>
    <%= current_user.distance_unit %>
  </div>
  <div class="field">
    <%= f.label :seconds, "Time:" %>
    <%= f.select :part_hours, 0..9, {}, { :class => 'time-input' } %>:
    <%= f.select :part_minutes, 0..59, { :selected => 30 }, { :class => 'time-input' } %>:
    <%= f.select :part_seconds, 0..59, { :selected => 30 }, { :class => 'time-input' } %>
    <span class="help-inline">h:mm:ss</span>
  </div>
  <div class="field">
    <%= f.label :notes, "Notes:" %>
    <%= f.text_area :notes, :rows => "5", :cols => "40" %>
  </div>
  <div class="actions">
    <%= link_to 'Cancel', jogs_path %>&nbsp;&nbsp;<%= f.submit "Submit", :class => "btn btn-success" %>
  </div>
<% end %>
