Goal: <%= goal_statement(current_user) %>

<!-- TODO: Best run logic <p>Best run: This is tricky because it depends on Goal</p> -->

<p><%= current_user.distance_unit.humanize unless current_user.distance_unit.blank? %> logged to date: <%= current_user.total_miles %></p>

<%= link_to 'New Jog', new_jog_path, :class => "btn btn-success" %>

<h3>Recent Jogs</h3>
<table class="table table-striped">
  <tr>
    <th>When</th>
    <th>Distance</th>
    <th>Time</th>
    <th>Pace</th>
    <th></th>
  </tr>

<% @jogs.each do |jog| %>
  <tr>
    <td><%= jog.jogged_at_string %></td>
    <td><%= jog.miles %></td>
    <td><%= jog.display_time %></td>
    <td><%= jog.pace %></td>
    <td><%= link_to 'Delete', jog, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger btn-mini" %></td>
  </tr>
  <% if jog.goal_achieved %>
    <tr>
      <td colspan="5">Goal Achieved!!</td>
    </tr>
  <% end %>
<% end %>
</table>