<div>
  <%= link_to 'New Jog', new_jog_path, class: 'radius button' %>
</div>

<div>
  <span class="big_label">Goal: </span><%= current_goal_statement(current_user) %>
  <!-- TODO: Best run logic <p>Best run: This is tricky because it depends on Goal</p> -->
</div>

<div>
  Total Miles Logged
  <%= current_user.total_miles %>
  <%= current_user.distance_unit.humanize unless current_user.distance_unit.blank? %>
</div>

Recent Jogs
<table>
  <tr>
    <th>When</th>
    <th>Distance</th>
    <th>Time</th>
    <th>Pace</th>
    <th></th>
  </tr>

<% @jogs.each do |jog| %>
  <% if jog.goal_achieved %>
    <tr>
      <td>Goal Achieved: <%= goal_statement(jog.goal_id_achieved) %></td>
    </tr>
  <% end %>
  <tr>
    <td><%= jog.jogged_at_string %></td>
    <td><%= jog.distance(current_user.id) %></td>
    <td><%= jog.display_time %></td>
    <td><%= jog.pace %></td>
    <td><%= link_to 'X', jog, confirm: "Are you sure you want to delete you jog on: #{jog.jogged_at_string}?", method: :delete %></td>
  </tr>
<% end %>
</table>