Goal: <%= goal_statement(current_user) %>

<!-- TODO: Best run logic <p>Best run: This is tricky because it depends on Goal</p> -->

<p><%= current_user.distance_unit.humanize %> logged to date: <%= current_user.total_miles %></p>

<%= link_to 'New Jog', new_jog_path %>

<h2>Recent Jogs</h2>
<table>
  <tr>
    <th></th>
    <th>When</th>
    <th>Distance</th>
    <th>Time</th>
    <th>Pace</th>
    <th></th>
  </tr>

<% @jogs.each do |jog| %>
  <tr>
    <td><% if jog.goal_achieved %><b>*</b><% end %>
    <td><%= jog.jogged_at_string %></td>
    <td><%= jog.miles %></td>
    <td><%= jog.display_time %></td>
    <td><%= jog.pace %></td>
    <td><%= link_to 'Delete', jog, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>