<p>Goal: <%= goal_statement(current_user) %></p>

<!-- TODO: Best run logic <p>Best run: This is tricky because it depends on Goal</p> -->

<p><%= current_user.distance_unit.humanize %> run in <%= Time.now.strftime("%Y") %>: <%= current_user.total_miles %></p>

<h2>Jog History</h2>
<table>
  <tr>
    <th>When</th>
    <th>Distance</th>
    <th>Time</th>
    <th>Pace</th>
    <th></th>
  </tr>

<% @jogs.each do |jog| %>
  <tr>
    <td><%= time_ago_in_words(jog.jogged_at) %> ago</td>
    <td><%= jog.miles %></td>
    <td><%= jog.display_time %></td>
    <td><%= jog.pace %></td>
    <td><%= link_to 'Delete', jog, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Jog', new_jog_path %>
