<p id="notice"><%= notice %></p>

<p>
  <b>Jogged at:</b>
  <%= @jog.jogged_at_string %>
</p>

<p>
  <b>Time:</b>
  <%= @jog.display_time %>
</p>

<p>
  <b>Miles:</b>
  <%= @jog.miles %>
</p>

<p>
  <b>Notes:</b>
  <%= @jog.notes %>
</p>

<%= link_to 'Back', jogs_path %> |
<%= link_to 'Edit', edit_jog_path(@jog) %> |
<%= link_to 'Add Another', new_jog_path %>
