<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Select Goal Type</h1>
  <h2>Single jog goals</h2>
  <ul>
    <li><%= link_to_function "distance", "foo" %><span class="hint">run a marathon</span></li>
    <li><%= link_to_function "total time", "foo" %><span class="hint">run for an hour</span></li>
    <li><%= link_to_function "distance in a period of time", "foo" %><span class="hint">run a 5k in 28 minutes</span></li>
    <li><%= link_to_function "maintain a pace over a distance", "foo" %><span class="hint">run a 10 miler at a 9 min per mile pace</span></li>
  </ul>

  <h2>Multi run goals</h2>
  <ul>
    <li><%= link_to_function "Accumulate a distance", "foo" %><span class="hint">run 1000 miles</span></li>
    <li><%= link_to_function "Accumulate a distance over time", "foo" %><span class="hint">run 600 miles this year</span></li>
  </ul>

  <%= f.hidden_field :time_unit, :value => "form user's preferences" %>
  <%= f.hidden_field :distance_unit, :value => "miles or kms" %>
  <%= f.hidden_field :goal_type, :value => "set when type is selected" %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <%= render "single_distance", :f => f %>
  <%= render "single_total_time", :f => f %>
  <%= render "single_distance_in_time", :f => f %>
  <%= render "single_distance_at_pace", :f => f %>
  <%= render "multi_distance", :f => f %>
  <%= render "multi_distance_in_time", :f => f %>

<% end %>
