<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="goal_selection">
    <h1>What type of goal do you want to achieve?</h1>
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-large" data-toggle="dropdown" href="#">
        Single jog goals
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li class="single_distance goal_type"><%= link_to 'Distance', '#' %><span class="hint">run a marathon</span></li>
        <li class="single_total_time goal_type"><%= link_to 'Total Time', '#' %><span class="hint">run for an hour</span></li>
        <li class="single_distance_in_time goal_type"><%= link_to 'Distance in a Time', '#' %><span class="hint">run a 5k in 28 minutes</span></li>
        <li class="single_distance_at_a_pace goal_type"><%= link_to 'Maintain a Pace', '#' %><span class="hint">run a 10 miler at a 9 min per mile pace</span></li>
      </ul>
    </div><!-- /btn-group --><br />

    <div class="btn-group">
      <a class="btn dropdown-toggle btn-large" data-toggle="dropdown" href="#">
        Multi jog goals
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li class="multi_distance goal_type"><%= link_to 'Accumulate a Distance', '#' %><span class="hint"><span class="hint">run 1000 miles</span></li>
<!--         <li class="multi_distance_in_time goal_type"><%#= link_to 'Distance Over Time', '#' %><span class="hint">run 600 miles this year</span></li> -->
      </ul>
    </div><!-- /btn-group -->
  </div><!-- /goal_selection -->

  <div id="goal_form">
    <h1>Set Goal</h1>
    <h2 class="single_distance">Distance</h2>
    <h2 class="single_total_time">Total Time</h2>
    <h2 class="single_distance_in_time">Distance in a Time</h2>
    <h2 class="single_distance_at_a_pace">Maintain a Pace</h2>
    <h2 class="multi_distance">Accumulate a Distance</h2>
    <!-- <h2 class="multi_distance_in_time">Distance Over Time</h2> -->

    <%= f.hidden_field :goal_type %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :current, :value => true %>
    <%= f.hidden_field :started_at, :value => "#{Time.now}" %>

    <div class="all">
      <%= f.label :name, 'Name:' %>
      <%= f.text_field :name, :size => '20' %>
    </div>
    <div class="distance">
      <%= f.label :miles, "#{current_user.distance_unit.capitalize}:" %>
      <%= f.text_field :miles, :size => '10' %>
    </div>
    <div class="time">
      <%= f.label :seconds, "Time:" %>
      <%= f.select :part_hours, 0..9, {}, { :class => 'time-input' } %>:
      <%= f.select :part_minutes, 0..59, { :selected => 30 }, { :class => 'time-input' } %>:
      <%= f.select :part_seconds, 0..59, { :selected => 30 }, { :class => 'time-input' } %>
      <span class="help-inline">h:mm:ss</span>
    </div>
    <div class="all">
      <%= f.label :notes, 'Notes:' %>
      <%= f.text_area :notes, :cols => '40', :rows => '5'  %>
    </div>
    <div class="all">
      <span id="back"><%= link_to 'Change Goal', '#' %></span>&nbsp;&nbsp;<%= f.submit "Create Goal", :class => "btn btn-success" %>
    </div>
  </div><!-- /goal_form -->

<% end %>
