<h2>Multi: Distance Over a Period of Time</h2>

<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :distance %><br />
  <%= f.number_field :distance %>
</div>
<div class="field">
  <%= f.label :time %><br />
  <%= f.number_field :time %>
</div>
<div class="field">
  <%= f.label :notes %><br />
  <%= f.text_field :notes %>
</div>
<div class="actions">
  <%= f.submit %>
</div>