<div class="row">
  <div class="span8 offset2 main-content">
    <div class="info_header clearfix">
      <div class="status_messages">
        <% if @current_goal %>
          <span class="big_label">Current: </span><%= current_goal_statement(current_user) %>
        <% else %>
          Get started! Create your first goal!
        <% end %>
      </div><!-- /status_messages -->
    </div><!-- /info_header -->
    <div class="quick_buttons">
      <%= link_to 'New Goal', new_goal_path, :class => "btn btn-success btn-large", :confirm => 'Creating a new goal will make your current goal inactive and move it into Past Goals? Are you sure you want to do this?' %>
    </div><!-- /quick_buttons -->

    <h3>Past Goals</h3>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Goal type</th>
        <th>Time</th>
        <th>Miles</th>
        <th></th>
      </tr>

    <% @historic_goals.each do |goal| %>
      <tr>
        <td><%= goal.name %></td>
        <td><%= goal.goal_type %></td>
        <td><%= goal.time %></td>
        <td><%= goal.miles %></td>
        <td><%= link_to '<i class="icon-trash icon-white"></i>'.html_safe, goal, confirm: "Are you sure you want to delete the goal named: #{goal.name}?", method: :delete, :class => "btn btn-danger btn-mini" %></td>
      </tr>
    <% end %>
    </table>
  </div><!-- span8 offset2 -->
</div><!-- /row -->