<h1>Listing goals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Goal type</th>
    <th>Time</th>
    <th>Miles</th>
    <th>Notes</th>
    <th></th>
  </tr>

<% @goals.each do |goal| %>
  <tr>
    <td><%= goal.name %></td>
    <td><%= goal.goal_type %></td>
    <td><%= goal.time %></td>
    <td><%= goal.miles %></td>
    <td><%= goal.notes %></td>
    <td><%= link_to 'Delete', goal, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Goal', new_goal_path %>
