<h1>Listing goals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Goal type</th>
    <th>Time</th>
    <th>Time unit</th>
    <th>Distance</th>
    <th>Distance unit</th>
    <th>Notes</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @goals.each do |goal| %>
  <tr>
    <td><%= goal.name %></td>
    <td><%= goal.goal_type %></td>
    <td><%= goal.time %></td>
    <td><%= goal.time_unit %></td>
    <td><%= goal.distance %></td>
    <td><%= goal.distance_unit %></td>
    <td><%= goal.notes %></td>
    <td><%= goal.user_id %></td>
    <td><%= link_to 'Show', goal %></td>
    <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
    <td><%= link_to 'Destroy', goal, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Goal', new_goal_path %>
