<!DOCTYPE html>
<html>
<head>
  <title>Joggerlogger</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
</head>

<% if user_signed_in? %>
<body>
  <div class="navbar navbar-fixed-top">
    <div="navbar-inner">
      <div="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to "JoggerLogger", jogs_path, :class => 'brand' %>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Jogs", jogs_path %></li>
            <li><%= link_to "Goals", goals_path %></li>
            <%# link_to "Profile", current_user_path %>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </div><!-- /nav-collapse -->
      </div><!-- /container -->
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->
<% else %>
<body class='home-page'>
  <div class="home-header">JoggerLogger</div>
<% end %>
<!-- <p class="notice"><%#= notice %></p> -->
<!-- <p class="alert"><%#= alert %></p> -->
<%= yield %>
</body>
</html>